In [31]:
graph = [
    ('a', 8, 'b'),
    ('a', 5, 'd'),
    ('a', 2, 'c'),
    ('b', 13, 'f'),
    ('b', 2, 'd'),
    ('b', 8, 'a'),
    ('c', 2, 'a'),
    ('c', 2, 'd'),
    ('c', 5, 'e'),
    ('d', 6, 'f'),
    ('d', 2, 'b'),
    ('d', 2, 'c'),
    ('d', 5, 'a'),
    ('d', 3, 'g'),
    ('d', 1, 'e'),
    ('e', 5, 'c'),
    ('e', 1, 'd'),
    ('e', 1, 'g'),
    ('f', 13, 'b'),
    ('f', 6, 'd'),
    ('f', 2, 'g'),
    ('f', 3, 'h'),
    ('g', 1, 'e'),
    ('g', 3, 'd'),
    ('g', 2, 'f'),
    ('g', 6, 'h'),
    ('h', 3, 'f'),
    ('h', 6, 'g')
]

match = lambda s = None, p = None, o = None:[t for t in graph if 
                                             (not s or t[0] == s) and 
                                             (not p or t[1] == p) and 
                                             (not o or t[2] == o)]

# find path from a to h

In [2]:
def unique() -> list[str]:
    a : list[str] = []
    s = ();
    for s, _, _ in match():
        a.append(s)
    return list(set(a))

In [76]:
import pandas as pd
import sys
start = 'a'
end = 'h'

done = []
df = pd.DataFrame(columns = unique())
df = df.reindex(sorted(df.columns), axis=1)
nextstart = start
distance = 0
path = []
for idx in range(len(unique())):        
    smallest = sys.maxsize
    start = nextstart
    if start == end:
        break
    
    done.append(start)    
            
    df.loc[idx, start] = distance   
    if idx > 0:
        for v in unique():
            if not (pd.isnull(df.loc[idx-1,v])):
                df.loc[idx,v] = df.loc[idx-1,v]
                    
    for (_, p, o) in match(start, None, None):                  
        if o not in done:            
            df.loc[idx, o] = p + distance
            
            if p < smallest:
                smallest = p
                nextstart = o
    distance += smallest
    
print (done)
df

['a', 'c', 'd', 'e', 'g', 'f']

   a   b  c  d    e    f    g    h
0  0   8  2  5  NaN  NaN  NaN  NaN
1  0   8  2  4    7  NaN  NaN  NaN
2  0   6  2  4    5   10    7  NaN
3  0   6  2  4    5   10    6  NaN
4  0   6  2  4    5    8    6   12
5  0  21  2  4    5    8    6   11